{% extends 'cv/base.html' %}
{% block content %}
    {% for cv in cvs %}
        <div class="cv">
            <h2>{{ cv.title }}</a></h2>
            <div class="cv_text">
                <p>{{ cv.text|linebreaksbr }}</p>
            </div>
            <div class="date">
                <p>last updated: {{ cv.published_date }}</p>
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'cv_edit' pk=cv.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-default" href="{% url 'cv_remove' pk=cv.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}                  