body {background-color: #92a8d1;}

.page-header {
    background-color: #0c0236;
    margin-top: 0;
    padding: 20px 20px 20px 50px;
    font-family: 'Indie Flower', cursive;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4 {
    font-family: 'Indie Flower', cursive;
}

.date {
    color: #5f5d5d;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', cursive;
    background-color: #dbe1f1;
    margin-bottom: 50px;
    color: black;
}

.post_title {
    font-family: 'Open Sans', cursive;
}

.post_description {
    font-size: 20px;
}

.post_text {
    text-align: left;
    font-size: 15px;
}

.post h2 a, .post h2 a:visited {
    color: black;
}

.comment {
    background-color: #dbe1f1;
    font-family: 'Open Sans', cursive;
    padding: 10px;
    margin: 20px 20px 20px 0px;
}

.login_form {
    font-family: 'Open Sans', cursive;
}

.post-form {
    font-family: 'Open Sans', cursive;
}